<div style='width: 100%px;'>
  <div id="map" style='width: 100%px; height: 800px;'></div>
</div>
<script type="text/javascript">
var mapStyle = [
    {
        "featureType": "all",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#0098a1"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "gamma": 0.01
            },
            {
                "lightness": "100"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "saturation": -31
            },
            {
                "lightness": -33
            },
            {
                "weight": 2
            },
            {
                "gamma": 0.8
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 30
            },
            {
                "saturation": 30
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#009da7"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": 20
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 20
            },
            {
                "saturation": -20
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#008195"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 10
            },
            {
                "saturation": -30
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#1ebcbe"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "saturation": 25
            },
            {
                "lightness": 25
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "lightness": -20
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#005978"
            }
        ]
    }
];

handler = Gmaps.build('Google');

var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

var temp;

function calcRoute() {
  var origin      = new google.maps.LatLng(-22.9113541, -43.2591463);
  var destination = new google.maps.LatLng(-22.9663041, -43.2184963);
  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
      temp = response;
    }
  });
}

calcRoute();

handler.buildMap(
	{ internal: {id: 'map'},
		provider: {
      zoom:      10,
      //center:    new google.maps.LatLng(53.385873, -1.471471),
      //mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles:    mapStyle
    }
	}, function(){

        var a = [
            // { lat: -22.9113541, lng: -43.2591463},
            // { lat: -22.9223661, lng: -43.2691563},
            // { lat: -22.9333741, lng: -43.2491663},
            // { lat: -22.9443841, lng: -43.2391763},
            // { lat: -22.9553941, lng: -43.2291863},
            // { lat: -22.9663041, lng: -43.2191963},
            // { lat: -22.9113541, lng: -43.2581463},
            // { lat: -22.9223661, lng: -43.2671563},
            // { lat: -22.9333741, lng: -43.2461663},
            // { lat: -22.9443841, lng: -43.2351763},
            // { lat: -22.9553941, lng: -43.2241863},
            // { lat: -22.9663041, lng: -43.2121963},
            // { lat: -22.9113541, lng: -43.2521463},
            // { lat: -22.9223661, lng: -43.2651563},
            // { lat: -22.9333741, lng: -43.2461663},
            // { lat: -22.9443841, lng: -43.2361763},
            // { lat: -22.9553941, lng: -43.22951863},
            // { lat: -22.9663041, lng: -43.2184963}
          ];
    	

      setTimeout(function(){
        for(i = 1; i < 35; i++){
            //response.routes[0].legs[0].steps[0].start_location.lat(0)
            a.push({ lat: temp.routes[0].legs[0].steps[i].start_location.lat(0), lng: temp.routes[0].legs[0].steps[i].start_location.lng(0) });
            
        }
        var markers = handler.addMarkers(a);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            //directionsDisplay.setMap(handler.getMap());
      }, 5000);

      

      
      
      // var marker = handler.addMarkers([{
      //   	lat: -22.9103541,
      //     lng: -43.5891363
      // }]);
      //handler.map.centerOn(marker);
    	//handler.fitMapToBounds();

    });

</script>