<div style='width: 100%px;'>
  <div id="map" style='width: 100%px; height: 800px;'></div>
</div>
<script type="text/javascript">
var locations = [
    { lng: -43.1766129, lat: -22.9090289 },
    { lng: -43.1721497, lat: -22.9134167 },
    { lng: -43.169446, lat: -22.905906 },
    { lng: -43.182621, lat: -22.9142468 },
    { lng: -43.1792736, lat: -22.915235 },
    { lng: -43.1779432, lat: -22.9008459 },
    { lng: -43.1969547, lat: -22.9113612 },
    { lng: -43.1921482, lat: -22.8930972 },
    { lng: -43.1795311, lat: -22.8940461 },
    { lng: -43.1832218, lat: -22.9474074 },
    { lng: -43.1573868, lat: -22.9447201 },
    { lng: -43.2074261, lat: -22.9621078 },
    { lng: -43.1728363, lat: -22.9647948 },
    { lng: -43.1853676, lat: -22.9736456 },
    { lng: -43.2226181, lat: -22.9852615 },
    { lng: -43.198843, lat: -22.9846294 },
    { lng: -43.1910324, lat: -22.9907135 },
    { lng: -43.1864834, lat: -22.9858936 },
    { lng: -43.2306004, lat: -22.9782289 },
    { lng: -43.2212448, lat: -22.9731715 },
    { lng: -43.1760979, lat: -22.9329427 },
    { lng: -43.2301712, lat: -22.9117565 },
    { lng: -43.2263947, lat: -22.9062222 },
    { lng: -43.2281113, lat: -22.8913577 },
    { lng: -43.2734299, lat: -22.8589347 },
    { lng: -43.2849312, lat: -22.8681088 },
    { lng: -43.2660484, lat: -22.8861389 },
    { lng: -43.2912827, lat: -22.8802873 },
    { lng: -43.2514572, lat: -22.8628891 },
    { lng: -43.3094788, lat: -22.8513418 },
    { lng: -43.2892227, lat: -22.8363131 },
    { lng: -43.3026123, lat: -22.8355221 },
    { lng: -43.3252716, lat: -22.839319 },
    { lng: -43.2456207, lat: -22.813846 },
    { lng: -43.366127, lat: -23.0001157 },
    { lng: -43.3606339, lat: -22.9498576 },
    { lng: -43.3657837, lat: -22.9443249 },
    { lng: -43.3576298, lat: -22.9403728 },
    { lng: -43.3360004, lat: -22.9331007 },
    { lng: -43.334198, lat: -22.948672 },
    { lng: -43.3852673, lat: -22.9524658 },
    { lng: -43.381319, lat: -22.9255121 },
    { lng: -43.3532524, lat: -22.9218757 },
    { lng: -43.3910179, lat: -22.9115193 },
    { lng: -43.3638096, lat: -22.9135748 },
    { lng: -43.4838867, lat: -23.0189182 },
    { lng: -43.4665489, lat: -23.0162323 },
    { lng: -43.4830284, lat: -22.8791802 },
    { lng: -43.4684372, lat: -22.8496018 },
    { lng: -43.473587, lat: -22.8856644 },
    { lng: -43.443203, lat: -22.8866133 },
    { lng: -43.4246635, lat: -22.8859807 },
    { lng: -43.4323883, lat: -22.8674761 },
    { lng: -43.4986496, lat: -22.8783894 },
    { lng: -43.4806252, lat: -22.8655781 },
    { lng: -43.4622574, lat: -22.86368 },
    { lng: -43.4555626, lat: -22.8753844 },
    { lng: -43.4401131, lat: -22.872063 },
    { lng: -43.3625221, lat: -22.8843992 },
    { lng: -43.3460426, lat: -22.8605165 },
    { lng: -43.3446693, lat: -22.843274 },
    { lng: -43.3965969, lat: -22.8287981 },
    { lng: -43.3977127, lat: -22.7628857 },
    { lng: -43.4183121, lat: -22.7768146 },
    { lng: -43.3608055, lat: -22.783462 },
    { lng: -43.4141922, lat: -22.7497469 },
    { lng: -43.4390831, lat: -22.7565539 },
    { lng: -43.4062958, lat: -22.7339153 },
    { lng: -43.4404564, lat: -22.7329653 },
    { lng: -43.4222603, lat: -22.7245738 },
    { lng: -43.4598541, lat: -22.7256821 },
    { lng: -43.3153152, lat: -22.8806036 },
    { lng: -43.1879425, lat: -22.9144444 },
    { lng: -43.1875992, lat: -22.8976832 },
    { lng: -43.1913757, lat: -22.9460638 },
    { lng: -43.1848526, lat: -22.9207689 },
    { lng: -43.2037354, lat: -22.9248796 },
    { lng: -43.2339478, lat: -22.9255121 },
    { lng: -43.2449341, lat: -22.9191878 },
    { lng: -43.2720566, lat: -22.9017946 },
    { lng: -43.2023621, lat: -22.9024272 },
    { lng: -43.334198, lat: -22.7723828 },
    { lng: -43.3736801, lat: -22.7391399 },
    { lng: -43.4014893, lat: -22.8492854 },
    { lng: -43.3802032, lat: -22.8796547 },
    { lng: -43.2521439, lat: -22.919504 },
    { lng: -43.181076, lat: -22.9331007 },
    { lng: -43.1913757, lat: -22.9514383 },
    { lng: -43.1851959, lat: -22.9511222 },
    { lng: -43.2013321, lat: -22.9296226 },
    { lng: -43.1893158, lat: -22.9172905 },
    { lng: -43.2209015, lat: -22.9141282 },
    { lng: -43.2531738, lat: -22.8815525 },
    { lng: -43.2476807, lat: -22.9308874 },
    { lng: -43.1941223, lat: -22.8995808 },
    { lng: -43.1930923, lat: -22.9539675 },
    { lng: -43.1958389, lat: -22.9625029 },
    { lng: -43.2095718, lat: -22.9504899 },
    { lng: -43.2504272, lat: -22.9027434 },
    { lng: -43.2068253, lat: -22.904641 }
];
var mapStyle = [
    {
        "featureType": "all",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#0098a1"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "gamma": 0.01
            },
            {
                "lightness": "100"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "saturation": -31
            },
            {
                "lightness": -33
            },
            {
                "weight": 2
            },
            {
                "gamma": 0.8
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 30
            },
            {
                "saturation": 30
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#009da7"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "saturation": 20
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 20
            },
            {
                "saturation": -20
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#008195"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "lightness": 10
            },
            {
                "saturation": -30
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#1ebcbe"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "saturation": 25
            },
            {
                "lightness": 25
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "lightness": -20
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#005978"
            }
        ]
    }
];

handler = Gmaps.build('Google');

var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

var a = [];
var markers = handler.addMarkers();

handler.buildMap(
	{
        internal: {id: 'map'},
		provider: {
            zoom:      10,
            styles:    mapStyle
        }
	}, 
    function(){
        
            //setInterval(function(){
                //for(l = 0; l < 30; l++){
                    var l = 0;
                    var end = 99;
                    var i = setInterval(function(){
                        function calcRoute() {
                            //setTimeout(function(){
                                var origin      = new google.maps.LatLng(locations[l].lat, locations[l].lng);
                                var destination = new google.maps.LatLng(locations[end].lat, locations[end].lng);
                                var request = {
                                  origin:      origin,
                                  destination: destination,
                                  travelMode:  google.maps.TravelMode.WALKING
                                };
                                directionsService.route(request, function(response, status) {
                                    if (status == google.maps.DirectionsStatus.OK) {
                                        directionsDisplay.setDirections(response);
                                        for(i = 0; i < response.routes[0].legs[0].steps.length; i++){
                                            a.push({
                                                    lat: response.routes[0].legs[0].steps[i].start_location.lat(0),
                                                    lng: response.routes[0].legs[0].steps[i].start_location.lng(0) 
                                                });
                                            console.log(response.routes[0].legs[0].steps[i].start_location.lat(0));
                                            console.log(response.routes[0].legs[0].steps[i].start_location.lng(0));
                                        }
                                        l++;
                                        end--;
                                        //delete i;
                                        // markers = handler.addMarkers(a);
                                        // handler.bounds.extendWith(markers);
                                        // handler.fitMapToBounds();
                                    }
                                  });
                            //},1000);
                        }
                        //setTimeout(function(){     
                            if(l < 99) 
                            calcRoute();
                            //l++;
                        //},l*1000);
                        
                    }, 500);
                //}
            //},3000);
        
    }
);

</script>